<div class="container text-center py-2">
    <h1>Registro de usuario</h1>

</div>




<div class="row">





    <div class="row justify-content-center">
        <div class="col-sm-4 ">

            <form [formGroup]="registroUs" (ngSubmit)="reg()">

                <div class="mb-3">
                    <label for="id" class="form-label">Numero de identificación:</label>
                    <input type="text" formControlName="id" class="form-control" id="id" name="id" autocomplete="off" />

                    <span *ngIf="registroUs.get('id')?.invalid && registroUs.get('id')?.touched" class="text-danger">
                        La <strong>identificación</strong> es un campo requerido
                      </span>

                </div>
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombres:</label>
                    <input type="text" formControlName="nombre" class="form-control" id="nombre" name="nombre" autocomplete="off"/>
                    <span *ngIf="registroUs.get('nombre')?.invalid && registroUs.get('nombre')?.touched" class="text-danger">
                        el <strong>Nombre</strong> es un campo requerido
                      </span>
                </div>
                <div class="mb-3">
                    <label for="apellido" class="form-label">Apellidos:</label>
               
                    <input type="text" formControlName="apellido" class="form-control" id="apellido" name="apellido" autocomplete="off"/>
                    <span *ngIf="registroUs.get('apellido')?.invalid && registroUs.get('apellido')?.touched" class="text-danger">
                        el <strong>Apellido</strong> es un campo requerido
                      </span>
                </div>

                <div class="mb-3">
                    <label for="correo" class="form-label">Correo:</label>
                    <input type="email" formControlName="correo" class="form-control" id="correo" name="correo"autocomplete="off" />
                    <span *ngIf="registroUs.get('correo')?.invalid && registroUs.get('correo')?.touched" class="text-danger">
                        el <strong>Correo</strong> es un campo requerido
                      </span>
                </div>

                <div class="mb-3">
                    <label for="celular" class="form-label">Celular:</label>
                    <input type="tel" formControlName="celular" class="form-control" id="celular" name="celular" autocomplete="off"/>
                    <span *ngIf="registroUs.get('celular')?.invalid && registroUs.get('celular')?.touched" class="text-danger">
                        el <strong>Celular</strong> es un campo requerido
                      </span>
                </div>


            </form>
        </div>
    </div>


</div>
<div class="row">

    <div class="col-2">

    </div>
    <div class="col-2">


    </div>


   
    <div class="col-2">
        <button type="submit" [disabled]="registroUs.invalid" class="btn btn-primary">Registrarme</button>

    </div>
    <div class="col-2">

        <button type="submit" routerLink="/" class="btn btn-primary">Volver</button>
    </div>

</div>